<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_KQ6QcPc-bhJnOyKX3Ag7jtvly119Iho</string>
	<key>GCM_SENDER_ID</key>
	<string>986104460327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cv</string>
	<key>PROJECT_ID</key>
	<string>mycv-4cc04</string>
	<key>STORAGE_BUCKET</key>
	<string>mycv-4cc04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986104460327:ios:c61245ce97b25e55e38a02</string>
</dict>
</plist>